{% extends 'base_template.html' %}
{% load static %}

{% block title %}
  <title>File Server | Password Reset</title>
{% endblock %}

{% block content %}
  <section class="py-4 py-md-5 my-5 mb-0">
    <div class="container py-md-5">
      <div class="row">
        <div class="col-md-6 text-center">
          <img class="img-fluid" src="{% static 'fileServer/assets/img/password_reset.png' %}" width="60%" />
        </div>
        <div class="col-md-6 col-xl-6 text-center text-md-start">
          <h2 class="display-6 fw-bold mb-5 mt-3"><span class="underline"><strong>Change Password</strong></span></h2>

          {% if token_fail %}
            <p class="text-muted fw-bold">
              The password reset link was invalid, possibly because it has already been used. Please request a <a href="{% url 'account_reset_password ' %}">new password reset</a>.
            </p>
          {% else %}
            {% if form %}
              <form method="post" action="{{ action_url }}">
                {% csrf_token %}

                <div class="mb-3">
                  <input class="shadow-sm form-control" type="password" name="password1" placeholder="New Password" required />

                  {% if form.password1 %}
                    {% for error in form.password1.errors %}
                      <p class="text-danger">
                        <small>{{ error }}</small>
                      </p>
                    {% endfor %}
                  {% endif %}
                </div>

                <div class="mb-3">
                  <input class="shadow-sm form-control" type="password" name="password2" placeholder="Confirm New Password" required />
                  {% if form.password2 %}
                    {% for error in form.password2.errors %}
                      <p class="text-danger">
                        <small>{{ error }}</small>
                      </p>
                    {% endfor %}
                  {% endif %}
                </div>

                <div class="mb-3">
                  {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                </div>

                <div class="mb-4 mt-5">
                  <button class="btn btn-primary shadow" data-bss-hover-animate="pulse" type="submit">Change Password</button>
                </div>
              </form>
            {% else %}
              <p class="text-muted fw-bold">Your password is now changed</p>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
