{% extends 'base_template.html' %}
{% load static %}

{% block title %}
  <title>File Server | Password Reset</title>
{% endblock %}

{% block content %}
  <section class="py-4 py-md-5 my-5 mb-0">
    <div class="container py-md-5">
      <div class="row">
        <div class="col-md-6 text-center">
          <img class="img-fluid" src="{% static 'fileServer/assets/img/password_reset.png' %}" width="60%" />
        </div>
        <div class="col-md-5 col-xl-4 text-center text-md-start">
          <h2 class="display-6 fw-bold mb-5"><span class="underline"><strong>Reset Password</strong></span></h2>

          {% if user.is_authenticated %}
            <p class="text-muted fw-bold">You are already logged in</p>
          {% endif %}

          <p class="text-muted">Did you forget your password? Don't worry, we've go you covered. Provide your email and we'll send&nbsp; you a password reset link</p>
          <form method="post" action="{% url 'account_reset_password' %}">
            {% csrf_token %}
            <div class="mb-3">
              <input class="shadow-sm form-control" type="email" name="email" placeholder="Email" required />
            </div>
            <div class="mb-3">
              {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
            </div>
            <div class="mb-4">
              <button class="btn btn-primary shadow" data-bss-hover-animate="pulse" type="submit">Submit</button>
            </div>
            <p class="text-muted">Please contact us if you have any trouble resetting your password</p>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
