{% extends 'base_template.html' %}
{% load allauth i18n %}
{% load static %}

{% block title %}
  <title>File Server | Sign Up</title>
{% endblock %}

{% block content %}
  <section class="py-4 py-md-5 my-5">
    <div class="container py-md-5">
      <div class="row">
        <div class="col-md-6 text-center">
          <img class="img-fluid w-100" src="{% static 'fileServer/assets/img/illustrations/register.svg' %}" />
        </div>
        <div class="col-md-5 col-xl-4 text-center text-md-start">
          <h2 class="display-6 fw-bold mb-5"><span class="underline pb-1"><strong>Sign up</strong></span></h2>

          {% if form.non_field_errors %}
            <div class="alert alert-danger">
              {% for error in form.non_field_errors %}
                {{ error }}
              {% endfor %}
            </div>
          {% endif %}

          <form id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}

            {% comment %} {{ form }} {% endcomment %}
            <div class="mb-3">
              <input id="id_username" class="shadow-sm form-control" type="text" name="username" placeholder="Username" required />
              {% if form.username.errors %}
                <div class="text-danger">
                  {% for error in form.username.errors %}
                    <p>
                      <small>{{ error }}</small>
                    </p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="mb-3">
              <input id="id_email" class="shadow-sm form-control" type="email" name="email" placeholder="Email" required />
              {% if form.email.errors %}
                <div class="text-danger">
                  {% for error in form.email.errors %}
                    <p>
                      <small>{{ error }}</small>
                    </p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="mb-3">
              <input id="id_password1" class="shadow-sm form-control" type="password" name="password1" placeholder="Password" required />
              {% if form.password1.errors %}
                <div class="text-danger">
                  {% for error in form.password1.errors %}
                    <p>
                      <small>{{ error }}</small>
                    </p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="mb-3">
              <input id="id_password2" class="shadow-sm form-control" type="password" name="password2" placeholder="Confirm Password" required />
              {% if form.password2.errors %}
                <div class="text-danger">
                  {% for error in form.password2.errors %}
                    <p>
                      <small>{{ error }}</small>
                    </p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="mb-5">
              <button class="btn btn-primary shadow" data-bss-hover-animate="pulse" type="submit">Create account</button>
            </div>
            <div class="mb-5">
              {% if redirect_field_value %}
                <input type="text" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
            </div>
            <p class="text-muted">
              Have an account? <a href="{% url 'account_login' %}">
                Log in&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-narrow-right">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <line x1="5" y1="12" x2="19" y2="12"></line>
                  <line x1="15" y1="16" x2="19" y2="12"></line>
                  <line x1="15" y1="8" x2="19" y2="12"></line>
                </svg>
              </a>&nbsp;
            </p>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
